<div class="jumbotron">
  <img src="https://www.fisicalab.com/sites/all/files/contenidos/intromov/grafica_x-t_mrua.png" class="img-fluid mx-auto d-block" alt="Responsive image">
  <p>&nbsp; </p>
  <h1 class="display-4">Calculadora de M.r.u.a</h1>
  <p class="lead">Calculadora muy util para calcular distintos parametros del movimiento rectilineo uniforme</p>
  <hr class="my-4">
  <p>Utilizar solo en caso de no poder resolver un problema</p>
  <hr class="my-4">
  <div class="input-group flex-nowrap">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">Velocidad inicial</span>
      </div>
      <input type="text" class="form-control" placeholder="m/s" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <p>&nbsp; </p>
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">Aceleracion</span>
        </div>
        <input type="text" class="form-control" placeholder="m/s" aria-label="Username" aria-describedby="addon-wrapping">
      </div>
    <p>&nbsp; </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Resolver</a>
  <button type="button" class="btn btn-info">Info</button>
</div>